




<div class="container">


<div class="container mt-5">
    <h2 class="mb-4">Gelen Mesajlar</h2>

    <ul class="nav nav-tabs" id="mesajSekmeleri" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="okunmayan-tab" data-bs-toggle="tab" data-bs-target="#okunmayan-mesajlar" type="button" role="tab" aria-controls="okunmayan-mesajlar" aria-selected="true">
                Okunmayanlar <span class="badge bg-danger">{{unreadMessages.length}}</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="okunan-tab" data-bs-toggle="tab" data-bs-target="#okunan-mesajlar" type="button" role="tab" aria-controls="okunan-mesajlar" aria-selected="false">
                Okunanlar
            </button>
        </li>
    </ul>

    <div class="tab-content" id="mesajSekmeleriIcerik">

        <div class="tab-pane fade show active" id="okunmayan-mesajlar" role="tabpanel" aria-labelledby="okunmayan-tab">
            <div class="list-group mt-3">
              @for (unread of unreadMessages; track $index) {
                <button data-bs-toggle="modal" data-bs-target="#messageModal" (click)="onSelected(unread)" class="list-group-item list-group-item-action fw-bold">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{unread.name}}</h5>
                        <small>{{unread.sendDate | date:'shortDate'}}</small>
                    </div>
                    <p class="mb-1">{{unread.subject}}</p>
                    <small>{{unread.body | slice:0:10}}...</small>
                </button>
                }

            </div>
        </div>

        <div class="tab-pane fade" id="okunan-mesajlar" role="tabpanel" aria-labelledby="okunan-tab">
            <div class="list-group mt-3">
                 @for (read of readMessages; track $index) {
                <button data-bs-toggle="modal" data-bs-target="#messageModal" (click)="onSelected(read)" class="list-group-item list-group-item-action fw-bold">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{read.name}}</h5>
                        <small>{{read.sendDate | date:'shortDate'}}</small>
                    </div>
                    <p class="mb-1">{{read.subject}}</p>
                    <small>{{read.body | slice:0:10}}...</small>
                </button>
                }


            </div>
        </div>

    </div>
</div>



<!-- Message Detail Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">


    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="messageModalLabel">Mesaj içeriği</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Gönderen Ad Soyad:</th>
              <td>{{messageDetail.name}}</td>
            </tr>
             <tr>
              <th>Gönderen Email:</th>
              <td>{{messageDetail.email}}</td>
            </tr>
            <tr>
              <th>Konu:</th>
              <td>{{messageDetail.subject}}</td>
            </tr>
             <tr>
              <th>Mesaj:</th>
              <td>{{messageDetail.body}}</td>
            </tr>
          </thead>
        </table>

      </div>
      <div class="modal-footer">

        <button type="button" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>



</div>
